$color-p:rgb(35,236,245);
.bck{
    text-align: center;
    position: relative;
}
.bck h2{
    font-size: 28px;
}
/*
.bck h2::before {
    content:url(..//svgs/xsimx.svg);
    width: 24px;
    display: inline-block;
    position: relative;
    z-index: -20;
}
.bck h2::after {
    content:url(..//svgs/xsimx.svg);
    width: 24px;
    display: inline-block;
    position: relative;
    z-index: -20;
    transform: rotate(180deg);
}
*/
  .bck h3{
    font-size: 20px;
}

.but{
    width: 360px;
    min-height: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
}
.skill{
    width: 360px;
    min-height: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
@media (max-width: 992px) {
    .bck h2::before {
        content:" ";
        display: none;
    }
    .bck h2::after {
        content:" ";
        display: none;
      }
  }