$color-p:rgb(35,236,245);
.bck{
    text-align: center;
    position: relative;
}
.bck h2{
    font-size: 28px;
    text-shadow: 2px 2px $color-p;
}
 .bck h2::before {
    content:url(..//svgs/xxx.svg);
    display: block;
    position: relative;
    top: 36px;
    left: -80px;
    z-index: -20;
   
}
 .bck h2::after {
    content:url(..//svgs/xxx.svg);
    display: block;
    position: relative;
    top:-36px;
    z-index: -20;
    right: -80px;
    transform: rotate(180deg);
  }
  .bck h3{
    font-size: 20px;
    text-shadow: 2px 2px $color-p;
}

.but{
    width: 380px;
    height: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
}
.skill{
    width: 380px;
    height: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
@media (max-width: 992px) {
    .bck h2::before {
        content:" ";
        display: none;
    }
    .bck h2::after {
        content:" ";
        display: none;
      }
  }