$color-bck: rgb(202,204, 204);
$color-1: rgb(1, 5, 9);
$color-base: rgb(239, 227, 253);
$color-p:rgb(35,236,245);
$color-c:rgb(245,44,35);
$font-nav:"Poppins", sans-serif;

/* Custom Navmenu */
.custom-navmenu {
    background:$color-1;
  }
  
  .custom-navmenu .custom-menu,
  .custom-navmenu .custom-menu li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: $font-nav;
  }
  
  .custom-navmenu .custom-menu li {
    margin-bottom: 0;
    font-size: 20px;
  }
  
  .custom-navmenu .custom-menu li a {
    color: $color-p;
    padding: 10px 0 !important;
  }
  
  .custom-navmenu .custom-menu li a:hover {
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.6);
  }
  
  .custom-navmenu .custom-menu li.active a {
    text-decoration: underline;
  }
  
  .custom-navmenu h3 {
    font-size: 18px;
    color: $color-p;
  }
  
  .custom-navmenu p {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'roboto', sans-serif;
    font-size: 16px;
  }
  
  .custom-navmenu span {
    color: $color-p;
  }
  
  .custom-navmenu a:hover {
    color: $color-p;
  }
  
  /* Custom Navbar */
  .custom-navbar {
    padding-top: 28px;
    width: 100%;
    button{
      background-color: transparent;
      border: none;
    }
  }

  .custom-navbar .navbar-brand {
    img{
      width: 120px;
      transform: rotate(-7deg);
    }

  }
  @media (max-width: 780px) {
    .custom-navbar>.container {
      padding-right: 0;
      padding-left: 0;
    }
  }
  

  
  /* Burger */

  .burger {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
  }
  
  .burger:before,
  .burger:after {
    width: 100%;
    height: 3px;
    display: block;
    background: $color-1;
    border-radius: 2px;
    position: absolute;
    opacity: 1;
  }
  
  .burger:before,
  .burger:after {
    transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
    content: "";
  }
  
  .burger:before {
    top: 6px;
    right: 0;
  }
  

  
  .burger:after {
    top: 20px;
    right: 0;
  }
  
  /* Hover */
  .burger:hover:before {
    top: 9px;
  }
  
  .burger:hover:after {
    top: 23px;
  }
  
  /* Click */
  
  .burger.active:before,
  .burger.active:after {
    top: 40%;
  }
  
  .burger.active:before {
    transform: rotate(45deg);
  }
  
  .burger.active:after {
    transform: rotate(-45deg);
  }
  
  .burger:focus {
    outline: none;
  }